<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <title>sifirai</title>
  </head>
  <body>
  <!-- <h1>&gt; Erwin&nbsp;Acher<span class="cursor"></span></h1> -->
  <h1>Erwin&nbsp;Acher</h1>
  <div>
    <div class="subtext">C++ | Rust | Python</div>
    <div class="subtext">Data Engineering | LLMOps | GenAI | Gaming</div>
  </div>

  <div class="footer">
    <div><strong>coming soon</strong></div>
    <div>powered by AWS and EC2</div>
    <div>built with <strong>Rust | Axum | Askama</strong></div>
    <div>
      <a
              href="https://github.com/erwinacher"
              target="_blank"
              rel="noopener noreferrer"
      >
        <img
                src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/github.svg"
                alt="GitHub"
        />
      </a>
    </div>
  </div>
  </body>
</html>
